.ember-select {
  position: relative;
}

.es-control {
  display: table;
  width: 100%;
}

/* Multiple Functionality Untested
.es-multiple .es-control {
  padding: 4px 12px;
}

.es-multiple > input {
  width: auto;
}

.es-selections {
  margin-right: 1rem;
}

.es-selections span {
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin: 2px 0;
  padding: 0 6px;
}

.es-selections span:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}
*/

/* Hide IE `clear` on input */
.es-control > input::-ms-clear {
  display: none;
}

/* Options */
.es-options {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-height: 15rem;
  margin-top: -2.5rem;
  overflow: auto;
  position: absolute;
  z-index: 10;
}

.es-option {
  cursor: pointer;
  padding: 0.85rem 1rem;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  transition: background .15s linear;
}

.es-options .es-highlight {
  background-color: rgb(221, 221, 221, 0.5);
}

/* Dropdown */
.es-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  left: -1rem;
}

.es-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
}

/* Groups */
.es-group {
  font-weight: bold;
  padding: 1rem 0 0 0.5rem;
}

/* Pseudo elements to disable IE `helpfulness`.
   Avoids clear and show password buttons. */
::-ms-clear,
::-ms-reveal {
  display: none;
}
