{{#each this.options as |group|}}
  {{#if group.isVisible}}
    <div class="es-group">{{group.name}}</div>
    {{#each group.children as |option|}}
      {{#if option.isVisible}}
        <SelectDropdownOption
          model=option
          select={{@select}}
          hover={{@hover}}
        />
      {{/if}}
    {{/each}}
  {{/if}}
{{/each}}
